* {

    font-family: "Open Sans", sans-serif;

}
h3 {
    font-weight: bold;
    padding-bottom: 10px;
}
/* HEADER STYLE */

.list-inline li i {
    padding:0 5px 0 0;
}

.list-inline ul, .list-inline li{
    margin-right: 35px
}

.col-sm-12.col-md-4.text-right, .list-inline.icons li {
    margin-right: 0;

}

.list-inline.icons i {
    font-size: 15px;
    margin-right: 5px;
}

ul.list-inline  {
    margin-top: 12px;
}

.header {

    border-bottom: 1px solid #e4e4e4;
}

.container.header2,.header {
    background-color: #f9f9f9;
}

.container.header2, .row .col-sm-12.col-md-12, .col-sm-12.col-md-8, .list-inline li, .list-inline a, i.grey.fas {
    color: #777777;
    font-size: 11px;
}

/* HEADER STYLE ENDS HERE */

/* NAVBAR STYLE */

.navbar-full-width.container-fluid,.container.mynavbar {
    padding: 0;
    position: sticky!important;
    top: 0;
    background: white;
    z-index: 16;
    height: 75px;
}

.navbar.navbar-default{
    background-color: transparent;
    border: none;
    z-index: 50;
}

.navbar-brand {
    height: auto!important;
    padding-right: 30px!important;
}

.nav.navbar-nav ul {
    padding-left: 40px;
}

.custom-ul {
    padding: 15px 0 10px 10px;
    font-size: 12px;
    font-weight: bold;
}

.custom-ul li {
    padding-right: 10px;
}

.custom-ul a {
    color: #324545;
}

a.active  {
    color: #1ccdca!important;

}

.custom-ul a:hover {
    color: #1ccdca!important;
}

.custom-ul a:focus {
    color: #777!important;
}

form.navbar-form.navbar-left {
    padding-top: 13px;
    /*margin-right: 20px;*/
    display: inline-block;
}

.search-bttn.btn.btn-default {
    position:absolute;
    left: 10px;
    top: 8px;
    border:none;
    height:20px;
    width:20px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
    color: #1ccdca;
}

.form-control {
    border-radius: 50px;
    font-size: 13px;
    padding: 18px 25px;
}

.form-group {
    position: relative;

}

input::placeholder {
    padding-left: 15px;
}

.shopping-cart-icon {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #cfcfcf;
    border-radius: 50px;
    color: #818b8d;
}

.fa.fa-shopping-cart {
    padding: 10px;
}

/* NAVBAR STYLE ENDS HER */

/* CAROUSEL STYLE */

.carousel.container-fluid {
    padding: 0;
}

.carousel-control{
    opacity: 1;
}

.glyphicon.glyphicon-chevron-left::before, .glyphicon.glyphicon-chevron-right::before {
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #d71f32;
    background-color: white;
}

.right.carousel-control:hover a .glyphicon.glyphicon-chevron-right:hover{
    background-color: #d71f32;
    color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    width: 5%;
}

.carousel-content.container {
    position: absolute;
    bottom: 60%;
    left: 20%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

}

.carousel-content.container h4 {
    padding: 15px;
    /*background-color: red;*/
    width: 22%;
}

.carousel-content.container h4 {
    width: 22%;
    height: 50px;
    background-color: rgba(214, 60, 58, 1);
    opacity: 0;
    position: relative;
    animation: red-h normal forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
}

.main-images.item img {
    width: 100%;
}

@keyframes red-h {
    from {
        margin-left: 30%;
        width: 22%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        width: 22%;
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    90%{
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.test {
    height: 1800px;
}

.carousel-caption {
    left: 0;
    bottom: 60%;
}
/* CAROUSEL STYLE ENDS HERE*/


/*BEST HTML container style*/

.dark.container-fluid {
    background-color: #1B2228;
    padding: 50px 0;
    text-align: center;
}

#bestTheme-h3 {
    color: white;
    font-weight: bold;
    padding-bottom: 10px
}

#bestTheme-P {
    font-size: 20px;
    color: #aaa;
    padding-bottom: 15px;
}

/*BEST HTML container style ENDS HERE*/


/* SUPER CODING CONTAINER*/

.super-coding {
    padding: 100px 0 100px 0;
    background-color: #f9fafc;
}

.mycolumns {
    position: relative;
}

.before-icons .fa {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: #1ccdca;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon-container {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 1px solid #1ccdca;
    border-radius: 50%;
}
i.fa.fa-puzzle-piece {
    padding-left: 7px;
    padding-bottom: 5px;
}

.padding-text {
    padding-left: 100px;
    line-height: 1.5;
}
/* SUPER CODING CONTAINER ENDS HERE*/


/* SKILLS CONTAINER STYLE */

.skills. {
    background-color: #3C464D;
}

.skills.container-fluid h2 {
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}

.skills-column-container , .contact.container-fluid {
    padding: 0;
}

.skills.container-fluid p {
    color:rgba(255, 255, 255, 0.7);
}

.skills-column-container.col-md-12 {
    padding: 0;
    background: url("../test_images/bg_header4.jpg") no-repeat ;
    background-size: cover;
}

.skills-columns {
    padding: 70px 70px 50px 60px;
    background-color: #3C464D;
}

.progress {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    border-radius: 0;
}

.progress p {
    margin: 0;
    padding: 5px 10px;
    float: left;
}

.progress-bar {
    position: relative;
    transition: width 2s ease;
}

.progressbar-front-text {
    float: right;
    padding-top: 5px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.7);
    width: 30px!important;
}
.progressbar-back-text {
    display: none!important;
}

.skill-counter-p {
    position: absolute;
    right: 0;
}

.web-design {
    background-color: rgb(11, 172, 184);
}

.programming {
    background-color: rgb(58, 148, 178);
}

.html-css {
    background-color: #1ccdca;
}

.wordpress {
    background-color: rgb(0, 193, 148);
}

.joomla {
    background-color: rgb(231, 76, 60);
}

/* SKILLS CONTAINER STYLE ENDS HERE */



/* CHOOSE US CONTAINER STYLE */
.greyish-background {
    background-color: #f9fafc;
}

.why-us-column {
    padding: 100px 0 80px 0;
}
.choose h4, .work h4 {
    padding-bottom: 10px;
    font-size: 22px
}

.dot {
    height: 10px;
    width: 10px;
    border: 1px solid #1cc6df;
    border-radius: 50%;
    display: inline-block;
    float:left;
}

.border-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    width: 35%;
    padding: 4px 0 0 10px;
    margin-left: 10px;
}

.green-border {
    border-bottom: 1px solid #1cc6df;
    width: 15%;
    margin-top: -1px;
    margin-left: 10px;
}

.nav.nav-tabs {
    padding-top: 30px;
}

.tab-content {
    border: 1px solid #cfcfcf;
    border-top: none;
    line-height: 2;
    padding:30px 30px 30px 20px;
    background-color: white;
}

.tab-content p {
    margin: 0 0 20px;
}
h4.panel-title {
    padding: 0;
}
.panel-title i {
    padding-right: 10px;
}

.zoom-img {
    width: 250px;
    height: 250px;
    float: right;
    transition: transform 1s;

}

.img-overflow {
    width: 250px;
    float: right;
    overflow: hidden;
}

.quality-list {
    padding-left: 0;
    list-style-type: none;
}

.presentation a.active2 {
    border-bottom: none!important;
    border-left: none!important;
}

li.presentation a.first {
    border-left:1px solid #e5e5e5;
}

li.presentation a.first.active2 {
    border-left:1px solid #e5e5e5!important;
}

li.presentation a {
    border-right:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.nav-tabs>li>a{
    border-radius: 0;
    color: #888;
    margin-right: 0;
    margin-bottom: -2px;
    background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #1ccdca;
}

.active2 {
    border-top: 3px solid #1ccdca!important;
}

.quality-list li::before{
    content: url("../test_images/arrows_mg_small.png");
    padding-right: 10px;
}

.zoom-img:hover {
    transform: scale(1.5);
}

.my-accordion {
    padding-top: 30px;
    color: #666666;
}

.panel-default>.panel-heading{
    background-color: white;
    color: #888;
}

.accordion-toggle {
    position: relative;
    display: block;
    text-decoration: none!important;
    font-size: 14px;
    padding: 5px;
}

.accordion-toggle::before, .accordion-toggle::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 1px;
    margin-top: -2px;
    background-color: #cecece;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.accordion-toggle::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
}

.accordion-toggle.collapsed::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}


.accordion-toggle.collapsed::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading.active3 {

    background-color: #1ccdca!important; ;
    color: white;
    text-decoration: none!important;
}

.panel-heading.active3 .accordion-toggle::after{
    background-color:white;
}
/* CHOOSE US CONTAINER STYLE ENDS HERE*/


/* RUNNING NUMBERS STYLE*/

.numbers {
    text-align: center;
    line-height: 3;
    padding: 100px 0 50px 0;
    border: 1px solid #e4e4e4;
    border-right: none;
    border-left: none;
}

.numbers .far, .fas, .team-header .far {
    color: #1ccdca;
}

.count {
    font-size: 28px;
    font-weight: bold;
    color: #666;
}
.my-numbers p {
    font-size: 22px;
    color: #666;
}
.my-numbers i {
    font-size: 30px;
}

/* RUNNING NUMBERS STYLE ENDS HERE*/


/* MEET OUR TEAM STYLE */
.team {
    background-color: #f9fafc;
    text-align: center;
}

.team-header.col-md-12 {
    padding: 80px 50px 50px 50px;
}

.team-header i{
    font-size: 22px;
    padding-bottom: 30px;
}

#our-belief {
    font-size: 22px;
    color: #666;
}

.carousel-pics {
    width: 30%;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 5px;
}

.pic-right {
    float: right;
    position: relative;
}

.pic-left {
    float: left;
    position: relative;
}

.team-describtion-left {
    width: 65%;
    float: left;
    text-align: right;
}
.team-describtion-right {
    width: 65%;
    float: right;
    text-align: left;
}

.team-describtion-right p, .team-describtion-left p {
    color: #999;
}

.my-carousel-indicators {
    bottom: -70px!important;
}

.team.container-fluid {
    padding-bottom: 100px;
}

.carousel-indicators li {
    background-color: white;
    border-color: #ddd;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #1ccdca;
    border: 3px solid white;
}

.team-icons i{
    color: #777;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}
.dot-team-icons:hover i {

    color: #1ccdca!important;
}

.dot-team-icons {
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
}
.dot-team-icons:hover {
    border: 1px solid #1ccdca;
}
/* MEET OUR TEAM STYLE ENDS HERE*/

/*OUR SERVCES CONTAINER STYLE */

#looking-pic {
    width: 100%;
}

.dot-services-icons {
    float: left;
    height: 85px;
    width: 85px;
    background-color: #1ccdca;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px 20px 20px;

}

.dot-services-icons i{
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    font-size: 40px;
    color: white;
}

.services-describtion {
    /*float: right;*/
    position: relative;
    line-height: 2;
    padding-bottom: 20px;
}
.services-hover:hover h4{
    color: #1ccdca;
}

.services-row {
    padding: 50px 0 50px 0;
}

.our-services {
    padding: 80px 0 0 0;

}

.services-icons {
    top: 40px;
}
a.our-service-icon {
    z-index: 1;
    position: relative;
    float: left;
}
/*OUR SERVCES CONTAINER STYLE ENDS HERE*/


/*PRICING PLAN STYLE*/

.add-border.container-fluid{
    padding: 0;
    border-top: 3px solid #f9fafc;
}

.pricing-con.container {
    text-align: center;
    padding: 80px 0 50px 0;
}

.pricing-table {
    list-style-type: none;
    box-shadow: 0 0 0 1px #e4e4e4 inset;
    padding: 1px;
    border-radius: 5px;
    margin-top: 100px;

}
.pricing-table li {
    border-top: 1px solid #E4E4E4;
    padding: 15px;
    color:#878787;
}

.pricing-table .item-name {
    font-size: 17px;
    font-weight: bold;
    color: #1ccdca;
}

.pricing-table .item-name, .pricing-table .order-button {

    padding: 50px;
}

.check, .cross {
    padding-right: 10px;
}
.check {
    color: #92C135;
}

.cross {
    color: red;
}


/*PRICING PLAN STYLE ENDS HERE*/


/*CONTACT US STYLE*/

.contact.container-fluid {
    text-align: center;
}

.contact.container-fluid h3 {
    padding-top: 80px;
}

.contact-form.form-control {
    border-radius: 0;
}

#in-touch {
    padding: 0;
    color: #1ccdca;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

textarea[name=foo] {
    resize: none;
    height: 200px;
}

.contact-submit.btn.btn-default {

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    color: white;
    background-color: #1ccdca;
    border-radius: 0;
    border: none;
    position: unset;
}

.contact-submit.btn.btn-default:hover {
    background: #324545;
}

.submit-check.fas.fa-check{
    color: white;
    padding-right: 15px;

}
.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
    color: #878787;
}

.form-horizontal {
    padding:50px 0 100px 0;
}
/*CONTACT US STYLE ENDS HERE*/


/* OUR LOCATION STYLE */
.location.container-fluid {
    background-color: #684962;
    padding: 0;
    text-align: center;
    color: white;

}
.location.container-fluid h4 {
    padding: 25px 0;
    font-weight: bold!important;
}

#map {
    height: 350px;
}

/* OUR LOCATION STYLE ENDS HERE*/



/*FOOTER CONTAINER STYLE*/

.footer.container-fluid {
    padding: 80px 0;
    background-color: #191E21;
    color: #989898;
}
.footer.container-fluid h4 {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.footer.container-fluid p {

    font-size: 13px;
    padding: 15px 0;
}

.black-read-more-bttn.btn.btn-default {

    font-size: 12px;
    color: white;
    background-color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 0;
}

.black-read-more-bttn.btn.btn-default:hover {
    color:#1ccdca;
}

.with-border {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.without-border {
    padding-top: 30px;
}
.subscribe-btn.btn, .sub-email.form-control {
    border-radius: 2px;
}

.subscribe-btn.btn {
    position: absolute;
    padding: 8px 12px;
    right: 0;
    color: white;
    background-color: #1ccdca;
}

.recent-posts-list {
    list-style-type: none;
    padding: 0;
}
.recent-posts-list li {
    padding-bottom: 35px;
}

.ahref-imgs img{
    width: 90px;
    float: left;
    margin: 1px 17px 0 0;
    display: block;
    overflow: hidden;
}

.ahref-text {
    font-size: 13px;
    color: #ddd;
    display: block;
}

.date-and-type {
    display: block;
    font-size: 12px;
}

.footer-columns.col-md-12 h4{
    margin-bottom: 20px;
}

.posts-read-more.btn.btn-default {
    margin-top: -3px;
    border: 1px solid #1ccdca;
    color: #1ccdca;
    background: black;
    padding: 8px 0 10px;
    width: 100%;
}
.posts-read-more.btn.btn-default:hover {
    color: white;
}

.tag-content.col-md-3 a{
    margin: 5px 5px 0 0;
}

.tags {
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0);
    color: #989898;
    font-size: 12px;
    overflow: hidden;
    padding: 9px 11px;
    font-weight: 500;
    display: inline-block;
}

.flicker-img {
    width: 80px;
    height: 80px;
    position: relative;
}

/*.overlay-container {*/
/*position: relative;*/
/*width: 70px;*/

/*}*/
/*.overlay {*/
/*position: absolute;*/
/*top: 5px;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*height: 70px;*/
/*width: 70px;*/
/*opacity: 0;*/
/*transition: .5s ease;*/
/*background-color: #008CBA;*/

/*}*/

/*.overlay-container:hover .overlay {*/
/*opacity: 1;*/
/*}*/

.best-author-cont {
    background: #ecf0f1;
    position: relative;
    padding: 10px 5px 25px 15px;
    margin-top: 36px;
    border-radius: 3px;
}

.remove-float {
    float: none!important;
}

.author.flicker-img {
    float: left;
    margin: -25px 15px 0 0;
    max-width: 100px;
}
.best-author-cont span {
    color: #324545;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
}


.author-soc {
    padding-right: 8px;
    color: #9f9f9f;
}

#newsletter-sub .form-group {
    margin-bottom: 0;
}
/*FOOTER CONTAINER STYLE ENDS HERE*/