* {
    font-family: "Open Sans", sans-serif;

}
/* HEADER STYLE */

.list-inline li i {
    padding:0 5px 0 0;
}

.list-inline ul, .list-inline li{
    margin-right: 35px
}

.col-sm-12.col-md-4.text-right, .list-inline.icons li {
    margin-right: 0;

}

.list-inline.icons i {
    font-size: 15px;
    margin-right: 5px;
}

ul.list-inline  {
    margin-top: 12px;
}

.header {

    border-bottom: 1px solid #e4e4e4;
}

.container.header2,.header {
    background-color: #f9f9f9;
}

.container.header2, .row .col-sm-12.col-md-12, .col-sm-12.col-md-8, .list-inline li, .list-inline a {
    color: #777777;
    font-size: 11px;
}

/* HEADER STYLE ENDS HERE */

/* NAVBAR STYLE */

.navbar-full-width.container-fluid,.container.mynavbar {
    padding: 0;
    position: sticky!important;
    top: 0;
    background: white;
    z-index: 50;
    height: 75px;
}

.navbar.navbar-default{
    background-color: transparent;
    border: none;
    z-index: 50;
}

.navbar-brand {
    height: auto!important;
    padding-right: 30px!important;
}

.nav.navbar-nav ul {
    padding-left: 40px;
}

.custom-ul {
    padding: 15px 0 10px 10px;
    font-size: 12px;
    font-weight: bold;
}

.custom-ul li {
    padding-right: 10px;
}

.custom-ul a {
    color: #324545;
}

a.active  {
    color: #1ccdca!important;

}

.custom-ul a:hover {
    color: #1ccdca!important;
}

.custom-ul a:focus {
    color: #777!important;
}

form.navbar-form.navbar-left {
    padding-top: 13px;
    /*margin-right: 20px;*/
    display: inline-block;
}

.btn.btn-default {
    position:absolute;
    left: 10px;
    top: 8px;
    border:none;
    height:20px;
    width:20px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
    color: #1ccdca;
}

.form-control {
    border-radius: 50px;
    font-size: 13px;
    padding: 18px 25px;
}

.form-group {
    position: relative;

}

input::placeholder {
    padding-left: 15px;
}

.shopping-cart-icon {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #cfcfcf;
    border-radius: 50px;
    color: #818b8d;
}

/* NAVBAR STYLE ENDS HER */

/* CAROUSEL STYLE */

.carousel.container-fluid {
    padding: 0;
}

.carousel-control{
    opacity: 1;
}

.glyphicon.glyphicon-chevron-left::before, .glyphicon.glyphicon-chevron-right::before {
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #d71f32;
    background-color: white;
}

.right.carousel-control:hover a .glyphicon.glyphicon-chevron-right:hover{
    background-color: #d71f32;
    color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    width: 5%;
}

.carousel-content.container {
    position: absolute;
    bottom: 60%;
    left: 20%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

}

.carousel-content.container h4 {
    padding: 15px;
    /*background-color: red;*/
    width: 22%;
}

.carousel-content.container h4 {
    width: 22%;
    height: 50px;
    background-color: rgba(214, 60, 58, 1);
    animation-delay: 3s;
    position: relative;
    animation: red-h normal forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes red-h {
    from {
        margin-left: 20%;
        width: 22%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        width: 22%;
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.test {
    height: 1800px;
}

.carousel-caption {
    left: 0;
    bottom: 60%;
}
/* CAROUSEL STYLE ENDS HERE*/


/*BEST HTML container style*/

.dark.container-fluid {
    background-color: #1B2228;
}


.just-some-text {
    padding: 30px 0 30px 0;
    text-align: center;
}
/*BEST HTML container style ENDS HERE*/

/* SUPER CODING CONTAINER*/

.super-coding {
    padding: 100px 0 100px 0;
    background-color: #f9fafc;
}

.mycolumns {
    position: relative;
}

.before-icons .fa {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: #1ccdca;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon-container {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 1px solid #1ccdca;
    border-radius: 50%;
}

.padding-text {
    padding-left: 100px;
    line-height: 1.5;
}
/* SUPER CODING CONTAINER ENDS HERE*/


/* SKILLS CONTAINER STYLE */

.skills.container-fluid {
    background-color: #3C464D;
}

.skills.container-fluid h2 {
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}

.skills-column-container {
    padding: 0;
}

.skills.container-fluid p {
    color:rgba(255, 255, 255, 0.7);
}

.skills-column-container.col-md-12 {
    padding: 0;
    background: url("test_images/bg_header4.jpg") no-repeat ;
    background-size: cover;
}

.skills-columns {
    padding: 70px 70px 50px 60px;
    background-color: #3C464D;
}

.progress {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    border-radius: 0;
}

.progress p {
    margin: 0;
    padding: 5px 10px;
    float: left;
}

.progress span {
    float: right;
    padding: 5px 10px;
}

.web-design {
    background-color: rgb(11, 172, 184);
}

.programming {
    background-color: rgb(58, 148, 178);
}

.html-css {
    background-color: #1ccdca;
}

.wordpress {
    background-color: rgb(0, 193, 148);
}

.joomla {
    background-color: rgb(231, 76, 60);
}

/* SKILLS CONTAINER STYLE ENDS HERE */



/* CHOOSE US CONTAINER STYLE */
.why-us-column {
    padding: 100px 0 80px 0;
}

.dot {
    height: 10px;
    width: 10px;
    border: 1px solid #1cc6df;
    border-radius: 50%;
    display: inline-block;
    float:left;
}

.border-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    width: 35%;
    padding: 4px 0 0 10px;
    margin-left: 10px;
}

.green-border {
    border-bottom: 1px solid #1cc6df;
    width: 15%;
    margin-top: -1px;
    margin-left: 10px;
}

.nav.nav-tabs {
    padding-top: 30px;
}

.tab-content {
    border: 1px solid #cfcfcf;
    border-top: none;
    line-height: 2;
    padding:30px 30px 30px 20px;
    background-color: white;
}

.zoom-img {
    width: 250px;
    height: 250px;
    float: right;
    transition: transform 1s;

}

.img-overflow {
    width: 250px;
    float: right;
    overflow: hidden;
}

.quality-list {
    padding-left: 0;
    list-style-type: none;
}

.presentation a.active2 {
    border-bottom: none!important;
    border-left: none!important;
}

li.presentation a.first {
    border-left:1px solid #e5e5e5;
}

li.presentation a.first.active2 {
    border-left:1px solid #e5e5e5!important;
}

li.presentation a {
    border-right:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.nav-tabs>li>a{
    border-radius: 0;
    color: #888;
    margin-right: 0;
    margin-bottom: -2px;
    background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #1ccdca;
}

.active2 {
    border-top: 3px solid #1ccdca!important;
}

.quality-list li::before{
    content: url("test_images/arrows_mg_small.png");
    padding-right: 10px;
}

.zoom-img:hover {
    transform: scale(1.5);
}

.my-accordion {
    padding-top: 30px;
    color: #666666;
}

.panel-default>.panel-heading{
    background-color: white;
    color: #888;
}

.accordion-toggle {
    position: relative;
    display: block;
    text-decoration: none!important;
    font-size: 14px;
    padding: 5px;
}

.accordion-toggle::before, .accordion-toggle::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 1px;
    margin-top: -2px;
    background-color: #cecece;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.accordion-toggle::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
}

.accordion-toggle.collapsed::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}


.accordion-toggle.collapsed::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading.active3 {

    background-color: #1ccdca!important; ;
    color: white;
    text-decoration: none!important;
}

.panel-heading.active3 .accordion-toggle::after{
    background-color:white;
}
/* CHOOSE US CONTAINER STYLE ENDS HERE*/


/* RUNNING NUMBERS STYLE*/

.numbers {
    text-align: center;
    line-height: 3;
    padding: 100px 0 50px 0;
    border: 1px solid #e4e4e4;
    border-right: none;
    border-left: none;
}

.numbers .far, .fas, .team-header .far {
    color: #1ccdca;
}

.Count {
    font-size: 28px;
    font-weight: bold;
    color: #666;
}
.my-numbers p {
    font-size: 22px;
    color: #666;
}

/* RUNNING NUMBERS STYLE ENDS HERE*/


/* MEET OUR TEAM STYLE */
.team {
    background-color: #f9fafc;
}
.team-header {
    text-align: center;
}
.team-header.col-md-12 {
    padding: 50px;
}
/*.line-left {*/
/*background: rgba(0, 0, 0, 0.07);*/
/*bottom: 30px;*/
/*left: 300px;*/
/*height: 1px;*/
/*width: 33%;*/
/*}*/

/*.line-left {*/
/*background: rgba(0, 0, 0, 0.07);*/
/*bottom: 15px;*/
/*right: 3000px;*/
/*height: 1px;*/
/*position: absolute;*/
/*width: 33%;*/
/*}*/


.carousel-pics {
    width: 30%;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 5px;
}

.pic-right {
    float: right;
    position: relative;
}

.pic-left {
    float: left;
    position: relative;
}

.team-describtion-left {
    width: 65%;
    float: left;
    text-align: right;
}
.team-describtion-right {
    width: 65%;
    float: right;
    text-align: left;
}

.team-describtion-right p, .team-describtion-left p {
    color: #999;
}

.my-carousel-indicators {
    bottom: -70px!important;
}

.team.container-fluid {
    padding-bottom: 100px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #1ccdca;
    border: 3px solid white;